In [2]:
# hello world

import pandas as pd

import time

start_time = time.time()
olampics_data = pd.read_excel("olympics-data.xlsx")
end_time = time.time()

execution_time = end_time - start_time
olampics_data.head()

print(execution_time)

12.744304418563843

In [ ]:
olampics_data.to_parquet("olampics-data.parquet")

In [ ]:
# Read parquet file

s = time.time()
data = pd.read_parquet("olampics-data.parquet")
e = time.time()
print(e - s, "seconds")
data.head()

data.shape

In [ ]:
data.head()

In [1]:
# coffe data
import pandas as pd   
df = pd.read_csv("coffee.csv")
df.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [4]:
df.sample(3)

         Day Coffee Type  Units Sold
6   Thursday    Espresso          40
9     Friday       Latte          35
4  Wednesday    Espresso          35